<h1>Login User</h1>
<form action="/api/session/login" method="post">
    Email : <input type="text" name="email" > <br>
    Password : <input type="text" name="password" > <br>
    <input type="submit" value="Login">
</form>
<a href="/api/session/github">Login witdh GitHub</a>