    <h1>Restablecer Contrase単a</h1>
    <form action="/api/recover-password/reset/{{token}}" method="post">
        <label for="password">Contrase単a Nueva:</label>
        <input type="password" name="password" required>
        <label for="confirmPassword">Confirmar Contrase単a Nueva:</label>
        <input type="password" name="confirmPassword" required>
        <button type="submit">Restablecer Contrase単a</button>
    </form>