<h1>Información de la Cuenta</h1>
  
  <h2>Nombre de Usuario: {{user.username}}</h2>
  <h2>Rol: {{user.role}}</h2>

  <h2>Subir Documentos</h2>
  <form action="/api/users/{{user.uid}}/documents" method="POST" enctype="multipart/form-data">
    <label for="Identificacion">Identificación:</label>
    <input type="file" name="identificacion" id="Identificacion"><br>

    <label for="Domicilio">Comprobante de Domicilio:</label>
    <input type="file" name="compruebaDomicilio" id="Domicilio"><br>

    <label for="Estado">Comprobante de Estado de Cuenta:</label>
    <input type="file" name="compruebaCuenta" id="Estado"><br>


    <input type="submit" value="Subir Documentos">
  </form>