:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}
/** Footer **/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

/** Navegacion **/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Productos **/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
}
.producto__imagen {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    height: 35%;
}
.producto__informacion {
    margin-top: 16%;
    display: flex;
    flex-direction: column;
    height: 45%;
}

.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}


/** Bloques **/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}


.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
   border: 1rem solid var(--primarioOscuro);
   background-color: transparent;
   color: var(--blanco);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: gray
}

.formulario__login {
    background-color: --var(--blanco);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario__login fieldset {
    border: none;
}

.formulario__login legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--secundario);
}


.campo {
    margin-bottom: 1rem;

}
.campo label {
    color: var(--secundario);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.boton {
    background-color: (--secundario);
    color: var(--secundario);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
.contra {
    color: var(--secundario);
}

/*                       ESTILO CART                */

.product-item {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    height: 20rem;
  }
  
  .image-container {
    width: 20rem; /* Ancho fijo del contenedor de imagen */
    height: 18rem; /* Alto fijo del contenedor de imagen */
    overflow: hidden; /* Oculta el contenido que desborda el contenedor */
  }
  
  .product-details {
    flex: 1;
    margin-left: 10px;
  }
  
  .product-details h2 {
    font-size: 18px;
    color: var(--secundario);
    margin: 0;
    font-weight: 100;
  }

  .product__imagen {
    width: 100%; /* La imagen ocupará todo el espacio del contenedor */
    height: 100%; /* La imagen ocupará todo el espacio del contenedor */
    object-fit: contain; /* Ajusta la imagen para que se vea completa sin distorsionar */
  }
  .remove-button {
    background-color: #ff0000; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .remove-button:hover {
    background-color: #cc0000; /* Color de fondo del botón al pasar el mouse */
  }